<div class="flex">
    <div class="backend-container galery-create">
        {% include('backend/module/galery/galeryCreate.twig') %}
    </div>
{#
    <div class="backend-container news-edit-list">
        {% include('backend/module/news/newsEditList.twig') %}
    </div>#}
</div>